#close{
    -fx-background-color: transparent;
}
#usernumber{
-fx-background-color: transparent;
    -fx-font-size: 25px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
#phone{
    -fx-background-color: transparent;
    -fx-font-size: 25px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
#main{
    -fx-border-width: 2;
    -fx-border-color: white;
}
#sep{
    -fx-border-color: white;
}